.input-container {
}
label {
  display: block;
  color: var(--text-main);
}
input,
textarea {
  margin-top: 0.5rem;
  background-color: transparent;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid var(--border-form);
}

input::placeholder,
textarea::placeholder {
  color: var(--border-form);
}
textarea {
  height: 6rem;
}
@media (max-width: 768px) {
  input::placeholder,
  textarea::placeholder {
    font-size: 0.8rem;
  }
  input,
  textarea {
    padding: 0.5rem 0.5rem;
  }
}
