---
import Layout from '../layouts/Layout.astro'
 
import TicketsForm from '../components/TicketsForm'

const remark =
  'Trajanje obilaska Centra ograničeno je na 90 minuta osim u slučaju organizovanog ručka u restoranu Centra, kada je poseta ograničena na 120 minuta. Za nepoštovanje dogovorenog termina posete, Centar ne garantuje ulazak i obilazak (bez obzira na izvršenu uplatu).'
const rules = [
  '- Grupnu posetu je neophodno najaviti najkasnije nedelju dana pre planiranog dolaska;',
  '- Željeni termin posete određuje se u zavisnosti od slobodnih termina;',
  '- Plaćanje se vrši avansno najkasnije dan pred dolazak ili gotovinom na bileternici;',
  '- Dokaz o avansnoj uplati neophodno je pokazati na biletarnici Prirodnjačkog centra pre ulaska;',
]
const remarkSecond =
  'Podnošenje ovog zahteva istovremeno predstavlja i podnošenje zahteva za izradu e-fakture za pravno lice - podnosioca zahteva. To podrazumeva sledeću proceduru: evidencija prometa na fiskalnoj kasi, refundacija tog fiskalnog isečka u istom danu i izrada e-fakture sa istim datumom prometa i iznosom prometa. Procedura će se sprovoditi sve do trenutka kada se programski omogući da evidencija prometa na fiskalnoj kasi podrazumeva i automatsku izradu e-fakture, odnosno dođe do drugih uputstava nadležnih državnih organa.'
---

<Layout title="Zahtev za grupnu posetu">
  <h1>Zahtev za grupnu posetu</h1>
  <TicketsForm client:load/>
</Layout>
<style>
  .grid-2,
  .grid-3 {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  h4 {
    margin-top: 5rem;
  }
  @media (max-width: 768px) {
    h1 {
      margin: 2rem 0
    }
    .grid-2 {
      grid-template-columns: 1fr;
    }
  }
</style>
