---
import Employee from "../components/Employee.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Upoznajte naš tim">
  <h1>Upoznajte naš tim</h1>
  <div class="row">
    <Employee />
  </div>
  <div class="row">
    <Employee />
    <Employee />
  </div>
  <div class="row">
    <Employee />
    <Employee />
    <Employee />
    <Employee />
  </div>
  <div class="row">
    <Employee />
    <Employee />
    <Employee />
    <Employee />
  </div>
  <div class="row">
    <Employee />
    <Employee />
    <Employee />
  </div>
  <div class="row">
    <Employee />
    <Employee />
    <Employee />
    <Employee />
  </div>
  <div class="row">
    <Employee />
    <Employee />
    <Employee />
  </div>
  <div class="row">
    <Employee />
    <Employee />
  </div>
  <div class="row">
    <Employee />
  </div>
</Layout>
<style>
  h1 {
    text-align: center;
  }
  .row {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
  }
</style>
