---
import Button from "./Button.astro";
import Input from "./Input.astro";
import Dropdown from "./Dropdown.astro";

const { heading, options, prices, dropdowns } = Astro.props;
---

<div class="container">
  <h4>{heading}</h4>
  {dropdowns.map((item: string) => <Dropdown label={item} />)}
  <ul>{options.map((option: string) => <li>{option}</li>)}</ul>
  <div class="bottom">
    <div>
      {prices.map((price: string) => <p>{price}</p>)}
    </div>
    <div class="input-container">
      <Input />
    </div>
    <Button text="Pošaljite zahtev" fullWidth />
  </div>
</div>
<style>
  .container {
    background-color: var(--bg-second);
    width: 100%;
    border-radius: 0.75rem;
    padding: 1.5rem;
    color: var(--text-light);
    display: flex;
    flex-direction: column;
  }
  ul {
    list-style-type: disc;
    margin-left: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  li {
    margin-bottom: 0.5rem;
  }
  .input-container {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
  }
  h4 {
    margin-bottom: 3rem;
  }
  .bottom {
    margin-top: auto;
  }
</style>
