---
const { label } = Astro.props;
interface Props {
  label: string;
}
---

<div>
  {label}
</div>
<style>
  div {
    width: 100%;
    border: 1px solid var(--border-form);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    color: var(--border-form);
    margin-bottom: 1rem;
  }
</style>
