<div class="container">
  <div class="picture"></div>
  <h4>Ime i prezime</h4>
  <p>Pozicija</p>
</div>
<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .picture {
    width: 110px;
    height: 110px;
    background-color: silver;
    border-radius: 50%;
  }
</style>
