---
import { createSlug } from "../utils/helpers";
const { links, pdf, hide } = Astro.props;
---

<ul class:list={[hide && "hide"]}>
  {
    links.map((link: string, i: number) => (
      <li>
        <a
          href={pdf ? `pdf/${i}.pdf` : createSlug(link)}
          data-astro-reload
          target="_blank"
        >
          {link}
        </a>
      </li>
    ))
  }
</ul>
<style>
  li {
    margin-top: 1rem;
  }
  li:first-child {
    margin-top: 0;
  }
  a {
    font-size: 1rem;
    color: var(--text-white);
  }
  @media (max-width: 768px) {
    .hide {
      display: none;
    }
    ul {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
    a {
      font-size: 0.7rem;
      color: var(--text-white);
    }
    li {
      margin-top: 0;
    }
  }
</style>
